{% extends 'base.html' %}
{% block title %}<title>Post</title>{% endblock %}

{% block Catalog %}
<h1>Delete {{ post.title }}</h1>
    <hr>
    <Strong>Are you sure?</Strong>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <br/>
        <br/>
        <button class="btn btn-secondary">Delete</button>
    </form>
    <br/>
    <a href="{% url 'category' %}"><button class="btn btn-secondary">Cancel</button></a>
{% endblock %}