{% extends 'base.html' %}
{% block title %}<title>Add Category</title>{% endblock %}

{% block Catalog %}
<h1>Add Category</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-secondary">Delete Category</button>
    </form>
{% endblock %}