{% extends 'base.html' %}
{% block title %}<title>Category</title>{% endblock %}

{% block Catalog %}
<h1>Category List</h1>
    <h1><a class="btn btn-primary float-right" href="{% url 'add_cate' %}" role="button">Add</a></h1>
    <br/>
    <hr>
    <br/>
    <ul class="list-group">
        {% for item in cat_menu %}
            <li class="list-group-item">
                {{ item }}
                <a class="btn btn-primary float-right" href="{% url 'delete_cate' item.id %}" role="button">Del</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}