{% extends 'base.html' %}

{% block Profile %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Profile Card</title>
	<!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
    <body class="bg-white">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-md-10 mt-5 pt-5">
                    <div class="row z-depth-3">
                        <div class="col-sm-4 bg-dark rounded-left">
                            <div class="card-block text-center text-white">
                                <i class="fas fa-user-tie fa-7x mt-5"></i>
{#                                <h2 class="font-weight-bold mt-4">Nickson</h2>#}
                                <p>Web Designer</p><i class="far fa-edit fa-2x mb-4"></i>
                            </div>
                        </div>
                        <div class="col-sm-8 bg-white rounded-right">
                            <h3 class="mt-3 text-center">Information</h3>
                            <hr class="bg-primary mt-0 w-25">
                            <div class="row">
                                <div class="col-sm-6">
                                    <p class="font-weight-bold">First Name:</p>
                                    <h6 class=" text-muted">{{  request.user.first_name }}</h6>
                                </div>
                                <div class="col-sm-6">
                                    <p class="font-weight-bold">Last Name:</p>
                                    <h6 class="text-muted">{{  request.user.last_name }}</h6>
                                </div>
                            </div>
                                <h4 class="mt-3">Contact</h4>
                                <hr class="bg-primary">
                            <div class="row">
                                <div class="col-sm-6">
                                    <p class="font-weight-bold">Email</p>
                                    <h6 class="text-muted">{{  request.user.email }}</h6>
                                </div>
                                <div class="col-sm-6">
                                    <p class="font-weight-bold">Phone</p>
                                    <h6 class="text-muted">{{  request.user.email }}</h6>
                                </div>
                            </div>
                            <hr class="bg-primary">
                            <ul class="list-unstyled d-flex justify-content-center mt-4">
                                <li><a href="#!"><i class="fab fa-facebook-f px-3 h4 text-info"></i></a></li>
                                <li><a href="#!"><i class="fab fa-youtube px-3 h4 text-info"></i></a></li>
                                <li><a href="#!"><i class="fab fa-twitter px-3 h4 text-info"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
{% endblock %}